{% extends "layout.html" %}
{% block content %}
    <div class="row-fluid">
        <form class="form-horizontal" role="form" method="post" action="/servers/new" name="new">
            {{ form.hidden_tag() }}
            <legend>New Server Creation</legend>
            {% if form.errors %}
                <div class="form-group">
                    <div class="alert alert-danger">
                        {% for message in form.name.errors %}
                            {{ message }}
                        {% endfor %}
                        {% for message in form.variables.errors %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-2 control-label"> {{ form.name.label }}:</div>
                <div class="col-sm-10">{{ form.name }}</div>
            </div>

            {% for variable in form.variables %}
                {{ variable.hidden_tag() }}
                <div class="form-group">
                    <div class="col-sm-2 control-label">{{ variable.name }}:</div>
                    <div class="col-sm-10">
                        <div class="form-group">

                            {% for field in variable if field.widget.input_type != 'hidden' %}

                                <div class="col-sm-1 control-label">{{ field.label }}</div>
                                <div class="col-sm-2">{{ field }}</div>

                            {% endfor %}
                                <div class="col-sm-4"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form.create_server(class_='btn btn-primary') }}
                    {{ form.add_variable(class_='btn btn-default') }}
                    {{ form.delete_variable(class_='btn btn-default') }}
                </div>
            </div>
        </form>


    </div>

{% endblock %}